* {
	box-sizing: border-box;
}

body {
	--space: clamp(1rem, 2vw, 2.5rem);
	--shadow: 0.6rem 0.6rem 0;
	font-family: 'VT323', monospace;
	font-size: 1.2rem;
	margin: 0;
	padding: calc(var(--space) * 2) var(--space);
	background: lightblue;
	accent-color: turquoise;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

header {
	outline: 0.3rem solid;
	padding: var(--space);
	margin-bottom: calc(var(--space) * 2);
	box-shadow: var(--shadow);
	background: peachpuff;
}

.wrapper {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

@media (min-width: 70em) {
	.wrapper {
		max-width: 1200px;
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 0 2rem;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&family=Signika:wght@300;400;500;600;700&display=swap');
$colorGrid: #efefef;
$colorReset: #dddddd;
$colorText: #253438;

*{
  padding:0;
  margin:0;
  font-family: 'Rubik', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  box-sizing:border-box;
  color:$colorText;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

body {
  display: grid;
  place-items: center;
  height:100vh;
  background: rgb(255,255,255);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%);
  
  section{
    max-width:600px;
    width:90%;
    display:grid;
    padding:40px 0px;
    
    h1{
      width: 100%;
      text-align:center;
      margin-bottom:40px;
      font-size:30px;
    }
    
    .grid-zone{
      display:grid;
      box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
      &:before{
        content:'';
        padding-bottom:100%;
        display:block;
        grid-area: 1 / 1 / 2 / 2;
      }
      
      .grid{
        grid-area: 1 / 1 / 2 / 2;
        border:solid 1px $colorGrid;
        display:grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: 5%;
        
        .pixel{
          border:solid 1px $colorGrid;
          cursor:pointer;
        }
      }
    }
    
    button{
      width:auto;
      margin:0 auto;
      margin-top:30px;
      border: solid 2px $colorReset;
      border-radius:3px;
      font-size:15px;
      background-color:transparent;
      color: $colorReset;
      font-weight:500;
      text-transform:uppercase;
      padding:3px 20px 7px;
      cursor:pointer;

      &:hover{
        color:$colorText;
        border: solid 2px $colorText;
      }
    }
    
    h2{
      width:100%;
      text-align:center;
      margin:40px 0px;
    }
    
    .palettes{
      display:grid;
      grid-row-gap:20px;
      .palette{
        height:100px;
        background-color: #fff;
        border-radius:3px;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
        padding:10px;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(1%, 1fr));
        cursor:pointer;
        transform:scale(0.9);
        opacity:0.3;

        &:hover{
          opacity:1;
        }
        
      }
      .radio{
        display:none;
      }
      .radio:checked{
        + .palette{
          transform:scale(1);
          opacity:1;
        }
      }
    }
  }
}
